[Desktop Entry]
Name=ProxyChrome
Exec=/mnt/nfs/raid/jim/tools/vpstun.sh
Icon=/mnt/nfs/raid/jim/Pictures/jollyrodgersm.jpg
Terminal=false
Type=Application
Categories=Web;
